*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/bearpot/dgjung/nileblue/Configs.java
/app/src/main/res/xml/configs.xml